<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="host" source="logstash.host"/>
    <springProperty name="port" source="logstash.port"/>
    <springProperty name="level" source="logstash.level"/>
    <springProperty name="level_local" source="logstash.level_local"/>
    <springProperty name="env" source="spring.profiles.active"/>
    <springProperty name="service" source="spring.application.name"/>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - [%thread] - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF-TCP" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>${host}</graylogHost>
        <graylogPort>${port}</graylogPort>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>${service}</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>true</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{18}) - %msg%n</pattern>
            </fullPatternLayout>
            <staticField>application:${service}</staticField>
            <staticField>environment:${env}</staticField>
        </encoder>
    </appender>

    <appender name="ASYNC-GELF" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="GELF-TCP"/>

        <neverBlock>true</neverBlock>

        <queueSize>256</queueSize>

        <discardingThreshold>0</discardingThreshold>
    </appender>

    <springProfile name="local">
        <root level="${level_local}">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="!local">
        <root level="${level}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC-GELF"/>
        </root>
    </springProfile>

</configuration>
