<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE"/>

    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="GELF_URL" source="graylog.gelf.url"/>
    <springProperty scope="context" name="GELF_SOURCE" source="graylog.gelf.source"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [${APP_NAME}] [%-20thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSONL" class="ru.sogaz.core.logger.append.StdoutJsonAppender">
        <projectName>${APP_NAME}</projectName>
        <environment>${ACTIVE_PROFILE}</environment>
    </appender>

    <appender name="ASYNC_JSONL" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="JSONL" />
        <queueSize>1</queueSize>
        <includeCallerData>false</includeCallerData>
        <neverBlock>false</neverBlock>
    </appender>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="ASYNC_JSONL"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="ASYNC_JSONL"/>
        </root>
    </springProfile>
    <springProfile name="stage">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSONL"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSONL"/>
        </root>
    </springProfile>
    <logger name="io.swagger" level="ERROR"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSONL"/>
        </root>
    </springProfile>
</configuration>
